<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dracula - 배우 리스트</title>
</head>
<body>
{#{{ members }}#}
<h1>{{ members.0.title }}</h1>
<table border="1">
    <tr>
        <th>이름</th>
        <th>배우</th>
        <th>프로필</th>
    </tr>
    {# members에서 하나씩 꺼내어 member에 넣기 #}
    {% for member in members %}
    	<tr>
            <td>{{ member.title }}</td>
            <td>{{ member.name }}</td>
            {% load static %}
            <td><img src="{% static member.img %}" alt="" ></td>
        </tr>
    {% endfor %}



</table>
</body>
</html>